ul {
    list-style: none;
}

.header-inner {
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
}

.header-logo {
    height: 50px;
    width: 50px;
    background-color: black;
}

.inner-site-menu{
}

.site-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.site-menu li {
    margin-right: 2rem;
}